@import "../../assets/styles/variables";

.sidebar {
  grid-area: leftSidebar;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 60px;
  padding: 20px;

  width: 100%;
  max-width: 200px;
  background-color: $white;
  border-radius: 0px 10px 10px 0px;
}

.logo {
  font-size: $font-size-xl;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list__item {
  margin: 0;

  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.nav-list__item__link {
  display: block;
  padding: 12px 20px 12px 20px;

  border-radius: 10px;

  &.active-link {
    background-color: $primary;
    color: $white;
  }
}
